header {
  margin: 0;
  background-color: rgb(57, 54, 54);
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
}

button {
  color: rgba(240, 248, 255, 0.772);
  text-decoration: underline;
  background-color: rgb(57, 54, 54);
  border: none;
}

p {
  text-align: center;
  font-weight: 500;
}

#trybe-logo {
  height: 60px;
}

#title {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#techContainer {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.techCard {
  background-color: rgba(190, 194, 192, 0.548);
  border-radius: 15px;
  margin: 5px;
  box-shadow: 2px 3px 2px rgb(200, 198, 198)
}

.logos {
  width: 150px;
}

.techNames {
  text-transform: uppercase
}