h1 {
    color: orange;
    width: 65px;
    font-family: sans-serif;
    font-size: 3em;
  }
  body {
    font-size: 16px;
  }
  p {
    font-weight:600;
    text-align:start;
    text-decoration:wavy;
  }
  ul {
    color: blue;
    line-height: 25px;
  }

  .cor-fundo {
    background-color: yellowgreen;
  }
  #amarelo{
    background-color: yellow;
    font-style: italic;
  }
  #vermelho {
    background-color: red;
    font-style: oblique;
  }
  #marrom {
    background-color: brown;
    font-style:initial;
  }